* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  /* --color-primary: #191d2b; */
  --color-primary: #30475e;
  --color-secondary: rgb(39, 174, 96);
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-5: #17314b;
  --color-grey-6: #12181b;
  --color-secondary-shadow: rgba(39, 174, 96, 0.3);
  --br-sm-2: 14px;
  --transition-properties: all 0.4s ease-in-out;
  --box-shadow-1: 0px 3px 15px rgba(0, 0, 0, 0.3);
  --color-theme-btn: #fafafa;
}


.light-mode {
  /* --color-primary: #fff; */
  --color-primary: #f5f5fa;
  --color-secondary: rgb(87, 183, 251);
  --color-white: #454e56;
  --color-black: #000;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #e1e1e1;
  --color-grey-6: #12181b;
  --color-secondary-shadow: rgba(3, 150, 255, 0.3);
  --color-theme-btn: #191d2b;
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-grey-0);
  transition: all 0.4s ease-in-out;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: var(--transition-properties);
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

/* control start */
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
/* theme btn start */
.theme-btn {
  top: 4%;
  right: 3%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.25rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
.theme-btn:hover i{
  color: var(--color-theme-btn);
}
/* theme btn end */
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
  box-shadow: var(--box-shadow-1);
  position: relative;
}
.controls .control p {
  position: absolute;
  top: 2.4rem;
  font-size: 0.7rem;
  display: none;
}
.controls .control i {
  font-size: 0.9rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
.controls .active-btn {
  background-color: var(--color-secondary);
  transition: var(--transition-properties);
}
.controls .active-btn i {
  color: var(--color-white);
}
.controls .control:hover p {
  display: block;
  color: var(--color-white);
}
.controls .control:hover i {
  color: var(--color-grey-0);
}
/* control end */

/* header start */
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  min-height: 100vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: var(--transition-properties);
  width: 85%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  height: 60%;
  width: 40%;
  margin-left: 4rem;
  background-color: var(--color-black);
  transition: var(--transition-properties);
}
.header-content .left-header .image img {
  border-radius: var(--br-sm-2);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--transition-properties);
  filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 12rem;
}
.header-content .right-header .name {
  font-size: 2rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
  font-size: 4rem;
  font-weight: 700;
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}
/* header end */

/* about start */
.about-title {
  text-align: center;
}
.about-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-grey-1);
}
.about-title h2 span {
  color: var(--color-secondary);
}
.about-container {
  display: flex;
  justify-content: space-between;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  color: var(--color-grey-1);
}
.about-container .right-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2rem;
  padding: 1rem;
  margin-left: 2rem;
}
.about-container .right-about a:hover {
  text-decoration: underline;
}
.about-container .right-about a span {
  font-weight: bold;
}
.about-container .right-about .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
}
.about-container .right-about .icons span {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: auto;
}
.about-container .right-about .icons span p {
  font-size: 0.9rem;
}
.about-container .right-about .icons span .fab {
  color: var(--color-secondary);
  font-size: 2rem;
}
.about-container .left-about {
  margin-right: 2rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding-bottom: 1rem;
  text-align: justify;
}
.about-container .left-about h3 {
  font-size: 2rem;
  text-transform: uppercase;
}
/* about end */

/* project start */
.title-portfolio {
  text-align: center;
}
.title-portfolio h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-grey-1);
}
.title-portfolio h2 span {
  color: var(--color-secondary);
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.projects-container .project {
  margin: 2rem;
  padding: 0.8rem;
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  color: var(--color-grey-1);
}
.projects-container .project:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  /* box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32); */
  box-shadow: 1px 4px 15px var(--color-secondary-shadow);
}
.projects-container .project img {
  height: 9rem;
  width: 16rem;
}
/* Project end */

/* Blogs start */
.title-blogs {
  text-align: center;
}
.title-blogs h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-grey-1);
}
.title-blogs h2 span {
  color: var(--color-secondary);
}
.blogs-container {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: auto auto; */
  justify-content: center;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.blogs-container .blog {
  margin: 2rem;
  padding: 0.8rem;
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.blogs-container .blog:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px var(--color-secondary-shadow);
}
.blogs-container .blog img {
  height: 9rem;
  width: 16rem;
}
/* blog end */

/* Contact start */
.title-contact {
  text-align: center;
}
.title-contact h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-grey-1);
}
.contact .title-contact span {
  color: var(--color-secondary);
}
.personal-info {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 1rem;
}
.personal-info .contact-item {
  display: inline-flex;
  margin: 1rem;
  padding: 0.5rem 1rem;
  transition: var(--transition-properties);
  border-radius: 6px;
  color: var(--color-grey-1);
  width: 100%;
}
.personal-info .contact-item:hover {
  color: var(--color-white);
  transform: translateY(-5px);
  cursor: default;
  box-shadow: 1px 4px 15px var(--color-secondary-shadow);
}
.personal-info .contact-item > *:last-child{
  margin-left: auto;
  justify-content: flex-end;
}
.personal-info .contact-item .icon .fas {
  color: var(--color-secondary);
}
.social-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.5rem;
}
.social-items span {
  margin: 0.6rem;
  position: relative;
  color: var(--color-grey-1);
}
.social-items span a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-items span p {
  font-size: 0.9rem;
  transition: var(--transition-properties);
}
.social-items .fab {
  color: var(--color-grey-3);
  cursor: pointer;
  border-radius: 50%;
  transition: all .4s ease-in-out;
}
.social-items span:hover .fab {
  color: var(--color-secondary);
}
.social-items span:hover p {
  text-decoration: underline;
}
.social-items .hashnode .square {
  height: 1.95rem;
  width: 1.95rem;
  background-color: var(--color-grey-3);
  border-radius: 9px;
  transform: rotate(45deg);
  transition: var(--transition-properties);
  margin: 5px;
  -webkit-mask: radial-gradient(rgba(0,0,0,0) 28%, #000 28%);
  mask: radial-gradient(rgba(0,0,0,0) 28%, #000 28%);
}
.social-items .hashnode:hover .square{
  background-color: var(--color-secondary);
}
/* .social-items .hashnode .square .circle {
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
}  */

/* Frontend Mentor logo */
.frontendMentor .circle {
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid  var(--color-grey-3);
  border-color: transparent transparent  var(--color-grey-3) transparent;
  transform: rotate(42deg) scale(0.55);
  border-radius: 50%;
  position: relative;
  top: 0.3rem;
  padding: 0;
  margin: 0;
  transition: var(--transition-properties);
}
.frontendMentor .dot1 {
  width: 0.3rem;
  height: 0.3rem;
  transition: var(--transition-properties);
  background-color:  var(--color-grey-3);
  border-radius: 50%;
  position: relative;
  top: 2rem;
  left: 0.09rem;
}

.frontendMentor .dot2 {
  width: 0.3rem;
  height: 0.3rem;
  transition: var(--transition-properties);
  background-color:  var(--color-grey-3);
  border-radius: 50%;
  position: relative;
  top: 1.69rem;
  left: 2rem;
}
.frontendMentor .line {
  height: 2.2rem;
  width: 0.3rem;
  border-radius: 0.6rem;
  background-color:  var(--color-grey-3);
  position: relative;
  top: -0.9rem;
  left: 0.4rem;
  transform: rotate(-42deg);
  transition: var(--transition-properties);
}

.frontendMentor .arrow {
  position: relative;
  top: -1.1rem;
  left: 0.01rem;
}
/* bottom part */
.frontendMentor .arrow1 {
  height: 0.3rem;
  width: 1.4rem;
  border-radius: 10px;
  background-color:  var(--color-grey-3);
  position: relative;
  top: -1.7rem;
  left: 1.5rem;
  transform: rotate(-20deg);
  transition: var(--transition-properties);
}
/* top part */
.frontendMentor .arrow2 {
  height: 0.3rem;
  width: 1.4rem;
  border-radius: 10px;
  background-color:  var(--color-grey-3);
  position: relative;
  top: -2.35rem;
  left: 1.2rem;
  transform: rotate(-65deg);
  transition: var(--transition-properties);
}
.frontendMentor p {
  position: relative;
  top: -0.2rem;
}
.frontendMentor:hover {
  --color-grey-3: var(--color-secondary);
}

/* contact end */


/* resume download button start */
.btn-container {
  display: flex;
  align-items: flex-start;
}
.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn:hover {
  background-color: var(--color-secondary);
  transition: var(--transition-properties);
  color: var(--color-grey-0);
}

/* resume download button end */

/* BACKGROUND TEXT start*/
.bg-text {
  color: var(--color-grey-5);
  position: absolute;
  top: 6rem;
  left: 50%;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6rem;
}
/* BACKGROUND TEXT end*/


/* media queries start */

/* header, about, project, blog, contact */
@media screen and (max-width: 1200px) {
  .section {
    padding: 2rem 9rem;
  }
  .bg-text {
    top: 5rem;
    font-size: 5rem;
  }
}


/* projects and blogs */
@media screen and (max-width: 982px) {
  /* projects */
  .projects-container {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  .projects-container .project img{
    height: 13.5rem;
    width: 24rem;
  }

  /* blogs */
  .blogs-container {
    padding-top: 2rem;
    padding-bottom: 3rem;
    /* flex-direction: column; */
  }

  .blogs-container .blog img{
    height: 13.5rem;
    width: 24rem;
  }

}


/* about */
@media screen and (max-width: 900px) {

  /* about */
  .about-container {
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-left: 2rem;
    justify-content: center;
    align-items: flex-start;
  }

  .about-container .right-about {
    padding-top: 1.5rem;
    padding: 0.5rem;
    margin-left: 0;
    margin-top: 2rem;
    width: 55vw;
  }

  .about-container .right-about .icons {
    margin-left: 0;
    justify-content: flex-end;
  }

  .about-container .left-about {
    margin-right: 0;
    width: 55vw;
  }
 
}

/* contact */
@media screen and (max-width: 800px) {
  .personal-info .contact-item {
    flex-direction: column;
    justify-content: center;
  }
  .personal-info .contact-item > *:last-child{
    margin-left: 0;
  }
}


/* header, about and control */
@media screen  and (max-width: 600px){
  header {
      padding: 0;
  }
  header .right-header {
      padding: 0;
  }
  
  /* about */
  .about-container {
    margin: 0;
    padding: 0;
  }

  .about-container .right-about {
    padding: 0;
  }

  .about-container .left-about {
    padding: 0;
  }

  /* controls */
  .controls {
      top: auto;
      bottom: 0;
      flex-direction: row;
      justify-content: center;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background-color: var(--color-grey-5);
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
}


/* download btn, about */
@media screen and (max-width: 390px) {
  .main-btn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
  }
  .main-btn .btn-text {
    text-align: center;
    font-size: 0.7rem;
    margin: 0;
    padding: 0 0.8rem;
  }

  /* about */
  .right-about .icons {
    flex-wrap: wrap;
  }
}
